[2015-07-14 23:51] caspark opened #1 "Higher kinded types, maybe"
Supposedly higher kinded types are possible now with some contortions: https://github.com/rust-lang/rfcs/blob/master/text/0195-associated-items.md#encoding-higher-kinded-types

I've been meaning to put some time into understanding how this works; I could package it up into a talk if people are interested.

[2015-07-15 00:46] jdub opened #2 "The ugly (and not-so-ugly) guts of Rust"
Want something on how Rust makes ugly and scary things all pretty and safe? I've been poking around at the guts of the Rust standard library, and could do a tour of things I've noticed and learned. There are a few lightbulb moments hidden away in there which might be interesting.

[2015-07-28 23:57] caspark commented on #2
Hey, sorry for the slow reply - I stupidly forgot to watch the repository, so I didn't get the email notification.

That sounds like an interesting talk; will you be able to give it at this coming meetup (August 18th)?

[2015-07-29 12:21] caspark commented on #1
After playing with this for a bit, I don't believe it's possible to get the sample code there to compile at the moment.

I was focusing on the sample for encoding arbitrary higher kinded types: specifically the line `type HKT where Apply<HKT, E> = Self;` is invalid in today's Rust, because the `where` clause on associated types was dropped from the associated items rfc (though the text wasn't upda

[2015-08-05 07:21] jdub commented on #2
On Wed, Jul 29, 2015 at 9:57 AM, Caspar Krieger notifications@github.com
wrote:

[2015-08-05 07:31] caspark commented on #2
Cool!

Anywhere from 5 to 30 minutes is fine; I try to aim for 20 minutes myself.

[2015-08-05 07:39] jdub commented on #2
On Wed, Aug 5, 2015 at 5:31 PM, Caspar Krieger notifications@github.com
wrote:

Cool, 20 minutes sounds great. See you there!

[2015-08-10 10:46] caspark opened #3 "Half a game in Rust - Piston"
Aka a brief intro to using Piston, probably the most popular Rust game lib for graphics.

Aiming for 20 minutes, scheduled for meetup on August 18th.

[2015-08-18 23:15] caspark commented on #3
Talk given; code and slides are available from https://github.com/caspark/2015-08-rust-half-a-game-piston-talk

[2015-08-18 23:15] #3 closed, assigned to nobody

[2015-08-18 23:17] caspark commented on #2
Thanks again for the talk. Would you please slap a link to your slides here as a comment (and optionally [on the meetup page](http://www.meetup.com/Rust-Sydney/events/223908978/))?

[2015-08-27 07:00] srijs opened #4 "linear lambda calculus and the search for an embeddable interpreter"
When looking for small languages to embed within Rust programs, existing solutions are often heavyweight, or don't fit well within Rust's ownership model, which results in complex APIs.

A linear lambda is a function which must use its argument exactly once. Sounds familiar? This is very similar to how memory ownership works in Rust.

Linear lambda calculus (LLC, for short) is the calculus built a

[2015-08-27 07:11] caspark commented on #2
Nudge :)

[2015-09-07 06:06] #2 closed, assigned to nobody

[2015-09-14 23:09] michaelsproul commented on #4
This sounds rad!

[2015-09-28 02:49] huonw opened #5 "State of SIMD in Rust"
A short talk about the work I did on improving the support for the SIMD (Single-Instruction Multiple-Data) functionality of modern CPUs in Rust during my internship at Mozilla.

I'll cover what it is and why people care about it, and give an overview of where Rust is now with some code examples/benchmarks/discussion.

[2015-09-28 11:33] huonw commented on #5
It happened!

Links:
- [Slides](http://huonw.github.io/simd-sep15/)
- https://github.com/huonw/simd
- [Rust tracking issue](https://github.com/rust-lang/rust/issues/27731)

[2015-09-28 11:33] #5 closed, assigned to nobody

[2015-09-30 03:31] caspark commented on #4
Would you mind dropping a link to your slides here @srijs ?

[2015-09-30 03:46] srijs commented on #4
See #6

[2015-09-30 03:53] srijs commented on #1
Tom McGilchrist gave a talk at a recent fpsyd about higher kinded polymorphism in OCaml, which is achieved roughly the same way.

The paper that introduced the ideas he was talking about is "Lightweight higher-kinded polymorphism" by Yallop and White (2014): https://ocamllabs.github.io/higher/lightweight-higher-kinded-polymorphism.pdf

The OCaml lib that implements those ideas is here: https://git

[2015-11-13 02:33] anguslees opened #7 "Distro packaging of the Rust toolchain"
What's involved, a state-of-the-union of Debian Rust packaging, and the outstanding issues.
Mostly Debian focussed, but also a discussion of other distros (as much as I'm able).

(I don't think I'm allowed to set the `proposal` label on this?)

[2015-11-13 02:51] caspark commented on #7
Sounds interesting. Does Tuesday December 1st (starting at 6pm as usual) work for you?

(it's kind of annoying that Github doesn't allow everyone to set labels - clearly I should've set up a JIRA instance for this instead :P)

[2015-11-13 02:52] #4 closed, assigned to nobody

[2015-11-13 02:52] caspark commented on #1
I'm going to close this for now - might get back to it later.

[2015-11-13 02:52] #1 closed, assigned to nobody

[2015-11-13 02:54] caspark opened #8 "Update on Rustler: a Chord Distributed Hash Table"
Speaker: Steve Lee

An update on Steve's project to implement a Chord Distributed Hash Table in Rust (following on from his earlier talk, _My First Rust_), codenamed Rustler.

[2015-11-13 02:55] caspark commented on #8
Steve says he can give this talk at Meetup 7 which I've tentatively scheduled for Tuesday December 1st.

[2015-11-13 03:15] anguslees commented on #7
Unusually, I'm out at the northern beaches all day that day - I can't guarantee that I won't be late :/

Some other month might work better, or otherwise I can do 1st Dec and we just see what happens...

[2015-11-14 00:55] caspark commented on #7
Would you be likely to be able to make 7pm? We likely won't start talks until 18:30, and #8 could go before you for about half an hour (I'd save you some pizza ;).

Or, does Tuesday 15th of December work better for you? (I don't know if that's good for #8 yet, but IIRC that's the only other day in December that works venue-wise)

[2015-11-14 03:16] absoludity opened #9 "Your first contributions in Rust"
I started learning rust recently and as part of my initial learning, landed [some](https://github.com/servo/euclid/commit/046c1f811c1e1d0aad560224bce3b87c2ce03298) [small](https://github.com/servo/euclid/commit/84150a904899957cb32e1c54fa31ad9100937507)  commits for euclid (a servo dependency). If there was interest, I'd be happy to spend 10mins chatting informally at a meetup about the experience

[2015-11-14 05:27] bitshifter opened #10 "rust and rr"
I saw a blog post by Huon a while back about using the reverse debugger rr with Rust. It more about rr than Rust, but rr sounded like an interesting tool that it would be nice to get a bit of an intro and demo or something. On the other hand it seems unfair to make Huon prepare a talk for every meetup :) Perhaps someone else could volunteer. If I actually get around to trying it, I'll volunteer!

[2015-11-14 06:14] anguslees commented on #7
Tues 15th works better for me, but that sounds like I'm imposing my schedule on everyone else.  I think I can arrive by 7pm (or not much after) on Tues 1st.

[2015-11-15 03:51] caspark commented on #9
Sure, it's always good to get those first impressions, and chances are it'll be helpful to others attending.

Does Tuesday December 1st, 6pm work for you? (6pm being pizza & drinks, talks are after that)

[2015-11-15 03:59] caspark commented on #10
Oh, I missed [that blog post on rr](http://huonw.github.io/blog/2015/10/rreverse-debugging/) - having read it now, it would make a good topic for a talk! I'd only seen prototypes of such tools in my jvm travels.

cc @huonw though really anyone can probably dive in and talk about it.

[2015-11-15 04:04] caspark commented on #7
Well, to some extent speakers are allowed to impose schedules - as long as they cooperate with each other and the venue ;)

I'll see what #9 says about Dec 1st.

[2015-11-15 07:20] huonw commented on #10
It'd be great to have a talk about this! I'm happy to do it, but I think it'd be even more awesome if someone else did.

[2015-11-15 10:34] absoludity commented on #9
If Tuesdays are the standard night for Rust meetups, that works -  I can do Tues, but a Weds, Thurs or Fri would suit better (wouldn't have to cancel a local code-club, but it's not a big deal). 6pm on any night Tues-Friday that week works for me.

[2015-11-15 10:38] absoludity commented on #9
Just read the comment on #7 - so sounds like Tuesdays are the day. That's fine - either 1st or 15th works for me.

[2015-11-15 11:10] caspark commented on #9
Ah, sorry about that. Atlassian hosts a lot of meetups and as a result for the rest of this year there's only 2 Tuesdays available, so it has to be a Tuesday in the short term.

Let's make it the 1st then. (edit: sooner being better than later, given people go places for holidays and we're overdue for a meetup)

[2015-11-15 11:14] caspark commented on #7
Okay, I'll stick with Dec 1st and list this talk as a _Probably_. If timing doesn't work out on the day then that's alright; we'll have future meetups too (but I'd appreciate a heads-up if you decide not to come on the day).

[2015-11-17 21:25] bitshifter commented on #10
I can volunteer if you like. I will try put something quick together this weekend based on Huon's blog post.

[2015-11-18 08:59] caspark commented on #10
No rush actually - we're in a great position with 3 talks for Meetup.7 - but of course it'd be great to line this one up for Meetup.8! (which'd be either mid Jan or mid-late Feb as I'll be away between those times)

[2015-11-18 10:10] bitshifter commented on #10
Ah OK, cool, pressure off :)
On 18 Nov 2015 7:59 p.m., "Caspar Krieger" notifications@github.com wrote:

[2015-11-29 08:31] michaelsproul opened #11 "Exploiting Rust's type system for safe(ish) web programming using Iron."
[Iron](https://github.com/iron/iron) contains a bunch of neat type-trickery that I wouldn't mind giving a talk on. In particular, the plugin system can appear quite magic at first but actually makes a lot of sense when examined closely.

[2015-11-30 00:18] caspark commented on #11
Sounds like a plan! I'll get back to you when I've worked out a date for meetup.8.

[2015-12-01 10:33] caspark commented on #7
@anguslees would you please make your slides available here? Either as a PR to this repo or a link to where they can be obtained.

[2015-12-01 10:34] caspark commented on #9
@absoludity would you please make your slides available here? Either as a PR to this repo or a link to where they can be obtained.

[2015-12-01 10:57] absoludity commented on #9
@caspark Sure - there's not much info (I didn't get a chance to add notes), but for the record: [Your first contributions to rust](https://docs.google.com/presentation/d/1Rk9fqY-Zi1-oc7B2ui1UNnlS177l4GxsvXq5ccIxHzA/edit?usp=sharing)

Thanks for hosting!

[2015-12-01 10:57] #9 closed, assigned to nobody

[2015-12-02 03:01] anguslees commented on #7
Slides are here: http://anguslees.github.io/talks/2015-12-01-rust-packaging/reveal.pdf

[2015-12-02 05:33] caspark commented on #7
Thanks!

[2015-12-02 05:33] #7 closed, assigned to nobody

[2015-12-02 06:56] caspark commented on #8
Steve's slides for his talk: https://docs.google.com/presentation/d/1hun_3uSayj4mEZgboippSsnECaesFvs9PaEousPQyDQ/edit?usp=sharing

[2015-12-02 06:56] #8 closed, assigned to nobody

[2016-01-06 23:23] emberian opened #12 "Robigalia: developing device drivers and other operating system services in pure Rust, using the seL4 microkernel"
I can give this, although no earlier than February.

[2016-01-06 23:48] yoshuawuyts commented on #12
that sounds heaps interesting!

[2016-01-07 09:18] caspark commented on #12
Excellent, Feb it is (or later). I'll get back to you on the exact date.

[2016-01-12 23:48] caspark commented on #10
@bitshifter would you like to have a shot at this talk for Meetup.8 on Tuesday February 16th?

[2016-01-12 23:49] caspark commented on #11
@michaelsproul would you like to give this talk for Meetup.8 on Tuesday February 16th?

[2016-01-12 23:50] caspark commented on #12
@cmr would you like to give this talk for Meetup.8 on Tuesday February 16th?

[2016-01-13 03:37] emberian commented on #12
No, I'd prefer more time for the project to mature, and to prepare the talk.

On January 12, 2016 6:50:22 PM EST, Caspar Krieger notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-13 21:39] bitshifter commented on #10
I still haven't played with rr yet but could definitely throw something together by mid feb.

[2016-01-14 05:47] caspark commented on #10
Excellent, I'll slot you in then.

[2016-01-23 02:59] michaelsproul commented on #11
Yep, count me in.

[2016-01-24 01:32] huonw opened #13 "Pattern matching"
At the last meetup there was a discussion about doing a talk about Rust's pattern matching features, but I can't remember who was involved in that discussion.

http://doc.rust-lang.org/book/patterns.html is basically a big list of all the syntax.

[2016-01-24 02:05] huonw commented on #11
Yay! You're on.

[2016-02-16 12:03] michaelsproul commented on #11
Slides here: https://michaelsproul.github.io/iron-talk/

[2016-02-16 12:03] #11 closed, assigned to nobody

[2016-02-16 12:06] bitshifter commented on #10
Done! Slides are at https://bitshifter.github.io/rr+rust/

[2016-02-16 12:06] #10 closed, assigned to nobody

[2016-03-02 01:01] caspark commented on #10
Recording: https://www.youtube.com/watch?v=ves_y06MCww

[2016-03-02 01:02] caspark commented on #11
Recording: https://www.youtube.com/watch?v=Sr5QcYyGrCo

[2016-03-02 01:12] yoshuawuyts commented on #10
that talk is so good!

[2016-03-02 21:05] bitshifter commented on #10
Thanks!

Also, thanks for making the video Caspar.

[2016-08-10 06:34] caspark opened #14 "Walkthrough of logprof, a command line tool to find slow running tasks based on log outputs"
I wrote a small tool in Rust which lets you time how long each log line took relative to the next log line, which has proven surprisingly useful in troubleshooting slow builds, slow test runs, etc.

An interesting extension of this is differentiating between long running tasks which print output from different threads, even when the code you're interested in doesn't print out a thread id. I'm only

[2016-08-10 12:02] khklau commented on #12
@cmr are you back from the APSys 2016 conference? Are you able to give the talk now?

[2016-08-14 02:40] caspark opened #15 "Overview of type conversion traits and techniques in Rust (beginner)"
One of the things that new Rust developers struggle with is how to handle conversions between types. For example, "I have a `str`, how do I get a `String`?" has several answers (and it's not necessarily the same patterns as going from a `String` to a `str` - e.g. `.to_string()` is `str`-to-`String` specific), and it gets trickier if you want to return "`str` or `String`" (have to use [`Cow`](https

[2016-08-14 03:13] caspark opened #16 "Trait implementation specialization and coherence (intermediate/advanced)"
[Trait implementation specialization](https://github.com/rust-lang/rfcs/blob/master/text/1210-impl-specialization.md) is a proposed and partially implemented technique for overriding part or all of an implementation of a trait with a specialized implementation for more specific types.

It's interesting because it enables some of the code reuse benefits typically ascribed to inheritance (I can see

[2016-08-22 12:39] MichaelShaw opened #17 "My first 24 hours of game dev in Rust"
An intro game dev talk covering my approach to game dev in Rust, using Glium, and how I build an event driven game engine (in progress), and how that can be a good thing.

Will cover Glium, the virtues of value types, pattern matching and pure functions.

[2016-08-23 08:54] caspark commented on #17
Let's book this one in for Sep 6.

[2016-08-23 08:54] caspark commented on #14
Scheduling this for Sep 6.

[2016-08-23 13:03] yoshuawuyts commented on #14
@caspark is the tool available somewhere? I'm in Berlin rn and will not be able to attend, though I'm interested

[2016-08-24 11:40] caspark commented on #14
Tool + source code will be available shortly; I wrote it at work so I need to finish checking some boxes to open source it.

I'll link to the source for the proof of concept extensions after the talk because the talk is serving as my motivation to polish that up a bit + I don't want to give the game away beforehand ;)

[2016-08-24 13:21] michaelsproul opened #18 "Hacking democracy with Rust"
I've been implementing senate voting algorithms in Rust and would love a chance to talk about why I chose Rust for the project, and my experience using it.

https://github.com/michaelsproul/aus_senate

[2016-09-01 11:06] caspark commented on #18
Sounds interesting! I'll get back to you with a date for meetup 10 :)

[2016-09-01 23:15] michaelsproul commented on #18
Cool :)

[2016-09-07 11:06] caspark commented on #17
Slides & code available at http://michaelshaw.io/

[2016-09-07 11:06] #17 closed, assigned to nobody

[2016-09-07 11:09] caspark commented on #14
Slides: https://docs.google.com/presentation/d/1zMzYr-AWKJv_POheLOd2sSKytuAb1GSF3zuY_BBLbGc/edit?usp=sharing

Code:
- Logprof: https://bitbucket.org/atlassian/logprof
- Sherlock-thread: https://bitbucket.org/caspar/sherlock-thread (proof of concept - not sure if I'll take it further unless logprof gets more interest)

Libs:
- https://github.com/docopt/docopt.rs
- https://github.com/lifthrasiir/rus

[2016-09-07 11:09] #14 closed, assigned to nobody

[2016-11-08 22:56] mason-larobina opened #19 "Possible talk ideas"
In the last month I've been playing with:

*    Configuring YouCompleteMe + vim with GoTo definiton support.
*    Rust C bindgen + cargo + build.rs
*    Porting C functions to rust piecemeal in a large-ish C code base.
*    Hunting transliteration bugs with git bisect.

Happy to create some talks or interactive sessions for any of the above. Perhaps a "Port Some C" hello world tutorial.

[2016-11-10 09:19] caspark commented on #19
Personally I'd be most interested in the bindgen talk, because I know very little on the topic. The final 2 seem like they belong together.

I think the first one would be better if it includes a bit of an overview of the IDE-like landscape, just because I suspect people aren't going to remember specifics of configuring a specific vim extension (or at least I wouldn't)? Possible topics to extend w

[2017-01-26 04:23] caspark commented on #19
Hey @mason-larobina , were you still interested in giving a talk on bindgen/cargo/build.rs or on C -> Rust transliteration? I saw just recently that bindgen now has at least some C++ support, and [some unforking just happened](https://www.reddit.com/r/rust/comments/5pr3t9/heads_up_yamakakyrustbindgen_and_servorustbindgen/), both of which might be worth mentioning (if you know the alluded-to histor

[2017-01-26 04:25] caspark commented on #18
Hey @michaelsproul , are you still up for giving a talk on this, say at a mid-late February Rust meetup, despite you raising this almost half a year ago?

[2017-01-26 07:31] michaelsproul commented on #18
Yep! More than happy to! It actually works perfectly 'cause I have slides ready from my SF Rust talk :)

[2017-01-28 23:45] caspark commented on #18
Great, I'll (edit: try to remember to) take a look on Monday what dates we have available for the next meetup.

[2017-02-02 19:28] mason-larobina commented on #19
I'm in the USA until late Feb and so far I haven't found time to prepare a talk.

I was working on a project similar to https://github.com/jwilm/alacritty however since it's release I'm not sure if I'll be continuing it.

[2017-02-07 04:18] caspark commented on #19
Okay, no problem. For what it's worth, I was pretty interested to find about alacritty (saw it when it was announced); depending on where you got up to before the abandonment-intent kicked in, it might still be interesting to hear about.

[2017-02-07 04:20] caspark commented on #18
Life intervened, but now that I have a few spare moments I can see that basically all the Mondays in Feb are free but no other Feb nights are. I've tentatively booked Feb 27th - does that work for you?

[2017-02-07 04:33] michaelsproul commented on #18
Feb 27th should be fine, I'll mark it in my calendar!

[2017-02-20 20:35] anguslees opened #20 "Crates that are great: clap"
Happy to give a talk about how great clap is for command line arguments parsing.  It would want to be shortish, because it's just command line args...

[2017-02-20 20:38] anguslees opened #21 "Writing bindings for a C library"
(have we had this topic yet?)

I wrote some nontrivial bindings for a C library recently (including callbacks) and can talk about how to do that.

[2017-02-21 02:33] caspark commented on #21
Haven't had this topic yet afaik but @mason-larobina suggested talking about it in #19 .

[2017-02-21 02:34] caspark commented on #20
Might be worth touching on https://github.com/TeXitoi/structopt as well.

I know I've covered https://github.com/docopt/docopt.rs previously too but might be worth mentioning it very briefly as an alternative.

[2017-02-21 09:40] caspark opened #22 "State of Concurrency in Rust"
Will cover an intuition based explanation of the borrow system, threading, send/sync, as well as moving on to topics like channels, locking, rayon, and tokio.

This talk will be adapted from my slides on the talk I gave for Rust for the Sydney Game Engine Developers Meetup - essentially taking out the first half of the talk, the "this is what Rust looks like" portion.

[2017-02-21 09:41] caspark commented on #22
Will give the talk at meetup 10 on 2017-02-27.

[2017-02-21 09:51] caspark commented on #18
Cool, I've scheduled the Atlassian side and announced via Meetup - see you then!

[2017-02-21 10:16] tari opened #23 "An introduction to LLVM"
As the author of [llvm-sys](https://crates.io/crates/llvm-sys), I'm reasonably familiar with how to work with it as a library as well as the internals (eg, [RFC 1279](https://github.com/rust-lang/rfcs/pull/1275)). LLVM is a useful tool when you need to generate or run code, and it's frequently interesting to build toys with power tools (like JIT-compiled esoteric languages).

I could find a few wa

[2017-02-23 05:11] bitshifter commented on #23
Yeah, I definitely think it would be of interest and we're always on the lookout for new talks. I don't have any opinions on specifics, both building a toy compiler and how LLVM is used under the hood in Rust would be fine topics.

We have a meetup this Monday (27/02/17), we have a couple of talks already for that and there's not much time left so perhaps the following meetup would be good to aim

[2017-02-23 08:26] tari commented on #23
Yeah, I didn't expect to be doing this next week, given there are already talks lined up- could do the next one, though (whenever that happens).

I've been to the LLVM meetup; their subjects seem more focused on details and internals and I don't think a more simplistic outside view like I'd give is very useful to them. It's worth further consideration though.

---

I'm leaning toward building a to

[2017-02-27 23:08] caspark commented on #22
Slides are at https://github.com/caspark/2017-02-rust-state-of-concurrency-talk/

[2017-02-27 23:08] #22 closed, assigned to nobody

[2017-02-27 23:32] #18 closed, assigned to nobody

[2017-04-27 05:42] bitshifter commented on #23
Hi @tari, we're looking at having a meetup in May, probably 15/5 which is Rust's birthday. Are you still interested in giving this talk? The toy compiler idea sounded interesting to me.

[2017-04-29 00:42] tari commented on #23
Yeah, I can prepare a talk for the 15th- I agree, a toy compiler of some kind is a good choice.

[2017-04-29 00:45] bitshifter commented on #23
Great, I look forward to it!

[2017-04-29 23:50] bitshifter commented on #23
I should announce the meetup soon. What will the title of your talk be? Also a short sentence about what it will cover would be good for the announcement too.

[2017-04-30 00:41] tari commented on #23
I might be figuratively painting myself into a corner because it hasn't been planned out that far, but close enough!

Let's call it "An Illustrated Guide to LLVM"; an introduction to building simple and not-so-simple compilers with Rust and LLVM.

[2017-05-08 09:17] bitshifter commented on #19
Sorry @mason-larobina I only noticed this issue after I felt it was a bit too late to ask you to speak at our 15/5 meetup. We're always looking for speakers though so perhaps next time if you are still interested.

[2017-05-08 23:33] mason-larobina commented on #19
No worries Cameron!

Since my last update in Feb I've been working on this project "full" parttime. It's coming along nicely and I've finished translating the 3k lines of C. I'm refactoring it now to be idiomatic rust. I'd love to talk about this after it's released.

If there's a way to tag this issue 'low priority' / 'future' that would probably be best.

[2017-05-15 22:23] bitshifter commented on #23
Thanks for the talk @tari. Where were your slides living so I can link them from the meetup page?

[2017-05-15 22:23] #23 closed, assigned to nobody

[2017-05-16 04:59] tari commented on #23
The canonical location for the presentation is now https://www.taricorp.net/2017/illustrated-llvm/

[2017-10-26 06:33] KodrAus opened #24 "Lessons learned from the libz blitz"
Hi! I'm based in Brisbane and have been involved with the [libz blitz](https://internals.rust-lang.org/t/rust-libz-blitz/5184) this year. I'd be keen to do a reflective talk after the impl period on how it went, what's worked and what we could've done better and some key learnings for engaging an OSS community in general.

Is this something you'd be interested in hearing about? Maybe in Jan/Feb?

[2017-11-23 21:28] bitshifter commented on #24
Yep, for sure. Are you going to be down in Sydney at some point? We've had a bit of a hiatus on the meetups but are starting to talk about organising one around Jan/Feb.

[2017-11-24 00:50] KodrAus commented on #24
I'm just up in Brisbane so can pop down to Sydney anytime (it's basically quicker to fly to Sydney than it is to take a train through the Brisbane city). Jan or Feb would suit me fine.

Yeh, it's been a while since we've had a meetup in Brisbane too, I've let the ball drop a bit there :(

[2017-11-24 10:21] bitshifter commented on #24
Cool! It sounds like our venue is free on Monday the 15th of January, would that work for you?

[2017-11-24 11:19] KodrAus commented on #24
Yep, that should work just fine. My email is on my GitHub profile. Please feel free to reach out anytime if you need anything or things change :)

[2018-01-16 21:41] bitshifter commented on #24
Can close this one off now, thanks again @KodrAus

[2018-01-16 21:41] #24 closed, assigned to nobody

[2018-01-26 00:12] tari opened #25 "Async: considered harmful?"
In which I explore the current state of I/O intensive workloads in high-performance applications both in Rust and comparing to other languages and attempt to convince the audience that while tools like Tokio are powerful and can be helpful in some applications, they also impose costs on developers that should be carefully considered!

[2018-02-25 22:18] bitshifter commented on #25
Sounds good! We haven't decided on a date for the next Meetup, probably in the next couple of months. Sorry it took a while to respond, GitHub notifications don't seem to actually notify me...

[2018-03-26 05:54] bitshifter commented on #25
@tari we're thinking about having another meetup mid to late April. Would you be interested in presenting this then?

[2018-03-26 08:01] tari commented on #25
Yes, sounds good. (This should motivate me to actually collect my thoughts and write some code!)

[2018-04-03 03:10] bitshifter commented on #25
@tari would May 7th be ok for you?

[2018-04-03 21:33] tari commented on #25
Yeah, first Monday in May sounds good to me!

[2018-04-09 04:20] bitshifter commented on #25
We've got the room booking confirmed, so we're good to go.

[2018-04-14 04:25] bitshifter commented on #25
https://www.meetup.com/Rust-Sydney/events/249764935/?rv=co1&_xtd=gatlbWFpbF9jbGlja9oAJDNmMjQ3ZDhmLTFlNjAtNGMwMi05MGM3LWZlNmY5YWJmNDVmZQ

[2018-05-26 02:27] #25 closed, assigned to nobody

[2018-05-26 02:27] #21 closed, assigned to nobody

[2018-06-06 07:24] rukai opened #26 "PF Sandbox design decisions and libraries"
This is a rough sketch of a talk about my game PF Sandbox. https://pfsandbox.net/
It's mostly at a high level, talking about design decisions and the libraries I used.
Let me know if I should focus more on rust/implementation stuff instead? Or any other feedback?
If I include everything listed here it might be too long, so I'll cut stuff if need be.

# Background (3 min)

Hi everyone, I'm going to

[2018-06-13 11:10] joshleeb opened #27 "Generics, Traits, and Lifetimes"
## Talk Proposal (10 - 15 minutes)

The talk is based on [Ch10: Generic Types, Traits, and Lifetimes](https://doc.rust-lang.org/book/second-edition/ch10-00-generics.html) of the Rust Book.

I have given an initial (and very casual) version of this talk with [these slides](https://docs.google.com/presentation/d/16dIFfBtF7r-cEi-QYMSziNxixuqKN3t76n6A58ab98Y/edit?usp=sharing) and some follow up exerci

[2018-06-14 01:11] bitshifter commented on #27
Hi @joshleeb . Sounds good! I'll start talking to the other organisers about planning our next meetup since we have a couple of talk proposals now. Any particular dates work or don't work for you?

[2018-06-14 01:13] bitshifter commented on #26
Hi @rukai . This sounds great! I'll start talking to the other organisers about planning our next meetup since we have a couple of talk proposals now. Any particular dates work or don't work for you?

[2018-06-14 01:44] joshleeb commented on #27
Late August/Early September is no good for me but apart from that I'm pretty flexible.

[2018-06-14 06:55] bitshifter commented on #26
We're scheduling the next meetup on Monday 23rd of July, does this date work for you @rukai ?

[2018-06-14 06:55] bitshifter commented on #27
We're scheduling the next meetup on Monday 23rd of July, does that work for you?

[2018-06-14 06:57] joshleeb commented on #27
Yep that's good for me :+1:

[2018-06-14 09:07] rukai commented on #26
Yes, 23rd of July works for me.

[2018-06-24 23:11] bitshifter commented on #26
I missed that you asked for feedback on what to talk about. You probably want to try keep the talk under 45 mins if possible with time for questions afterwards. There's a lot of interesting stuff in there, maybe go a bit deeper on a one or two topics? The reflection and UI areas sound interesting to me in that it sounds like you've spent some time trying to find good solutions in those spaces and

[2018-07-18 11:46] whmountains commented on #26
I find the graphics area particularly interesting.  I'm anxious to hear why you chose Glium over Piston or ggez, and why you switched to Vulcan.  A comparison of features as well as an outline of your current graphics pipeline would be very informative.

[2018-07-23 07:08] joshleeb commented on #27
[A link to the slides for tonight's meetup](https://docs.google.com/presentation/d/17D7QvHJmFXDjBfqau7ak6UOdFmY5O7ZAGEZ3X_inEQE/edit?usp=sharing)

[2018-07-23 11:42] bitshifter commented on #26
Thanks for the talk Lucas, do you have the slides anywhere online that I could share?

[2018-07-23 11:43] thomaseizinger opened #28 "Writing docker-based integration tests with Rust"
At work, we have a lot of integration tests that interact with docker containers. In order to do this cleanly, each test needs its own docker container because allows for parallel tests and overall cleaner test design design.

Because of that, I wrote a small library that makes it very easy to spin up docker containers from within Rust and use them for the lifetime of the test.

I'd like to talk a

[2018-07-23 12:30] rukai commented on #26
https://docs.google.com/presentation/d/1l2hzDcp1yxIQrQiRXxpnV4uOeteR2-lLLYtV0AVaeeY/edit?usp=sharing Here you go. I plan on recording the talk and uploading to youtube on my next day off. Will share with everyone when that happens.

[2018-07-23 12:30] #26 closed, assigned to nobody

[2018-07-23 22:55] bitshifter commented on #28
Sounds good. I'll get in touch when we start planning the next meetup (might be a few months away still).

[2018-07-23 23:38] thomaseizinger commented on #28
Thanks!
Looking forward to the talk :)

[2018-07-24 00:04] #27 closed, assigned to nobody

[2018-08-17 12:33] auscompgeek opened #29 "Talk format proposal: lightning talks"
The last meetup went quite short due to the talks that were scheduled, but a number of people stuck around afterwards. Amongst some of the things that we ended up discussing, the idea of formally having lightning talks popped up. I figured it's probably a good idea to formalise that suggestion here.

A lightning talk shall be defined as a short (maximum 10 minutes?) talk.

Any number of lightning

[2018-08-17 12:58] bitshifter commented on #29
Thanks @auscompgeek - lightning talks are certainly something we can consider. The last meetup was a bit shorter than expected, I thought the talks were going to be a bit longer. I think that's the first time we've finished that early. Others have suggested lightning talks as a way to get new speakers in so it's something we could try anyway if we can't find enough speakers.

[2018-08-19 01:03] thomaseizinger commented on #29
I could imagine my talk proposal (#28) to fit into that format :)
(Although 10 minutes might be a bit short.)

[2018-10-09 21:16] davidlattimore opened #30 "Talk about Evcxr - Rust REPL and Jupyter kernel"
I was thinking I should really give a talk about [Evcxr](https://github.com/google/evcxr), which I released a few weeks ago. I haven't prepared said talk yet, but will aim to do so soon assuming there is interest in such a talk.

[2018-10-09 21:51] bitshifter commented on #30
I saw you posting about Evcxr on reddit, super keen for a talk on this. Not sure when we'll have our next meetup, I'll poke Steve.

[2018-10-09 21:57] davidlattimore commented on #30
Thanks. If hosting is a problem, I could see if we could host a meetup at the Google office

[2018-10-10 21:55] bitshifter commented on #30
Thanks, I will get back to you on hosting.

[2018-10-31 22:24] bitshifter commented on #30
Hey David, we've had a bit of discussion about hosting with Canva and Atlassian being options, however Canva don't have a slot until January and Steve is busy until December so we might not be able to get in to Atlassian until next year anyway. Ideally we were hoping to do something late November or early December, so if you are able to host at Google around that time that might be a better option

[2018-11-05 01:05] davidlattimore commented on #30
OK. I'll see if I get hosting here sorted. Will get back to you

[2018-11-16 03:31] bitshifter commented on #30
Hi David, we're able to hold a meetup at Atlassian on the 17th of December. Would that work for you?

[2018-11-16 03:33] bitshifter commented on #28
Hi Thomas, sorry it's taken an age to get back to you. We're tentatively planning a meetup on the 17th of December. Would you be available then?

[2018-11-16 03:37] davidlattimore commented on #30
Yes, that would work for me. Sorry I've been slow getting back to you about hosting one at Google. I managed to determine that it would be fine for me to book a room for the meetup, but was having trouble getting approval to purchase food and drinks. Hopefully the ground-work I set in motion this time might make it easier if I need to organize a meetup here in future.

[2018-11-16 03:43] bitshifter commented on #30
Great! No worries around hosting, I imagine it's not that straight forward. Atlassian seem to have a pretty streamlined system.

[2018-11-16 04:07] thomaseizinger commented on #28
Unfortunately not. I am in Europe over Christmas and flying out before the 17th. Happy to do it at the next meetup though :)

[2018-11-18 22:30] bitshifter commented on #30
How long do you think you'll aim for presentation wise? Up to an hour should be fine.

[2018-11-18 22:37] davidlattimore commented on #30
I'd aim for 30-45 minutes I think. Do we have another speaker able to make it on that date?

[2018-11-18 22:39] bitshifter commented on #30
The other speaker I had in mind isn't available on that date but we'll sort something out.

[2018-11-18 22:45] bitshifter commented on #28
Ah never mind, I will get in touch for the next meetup :)

[2018-11-26 00:13] bitshifter commented on #30
https://www.meetup.com/Rust-Sydney/events/256668602/?rv=co1&_xtd=gatlbWFpbF9jbGlja9oAJGE3YTRkN2VmLTFmYjUtNDE5Zi1hMDRjLWQ3ZTE5MmEzOGZhMw

[2018-11-26 00:14] bitshifter commented on #30
Let me know if you want to add/change anything on the talk description

[2018-11-26 00:56] davidlattimore commented on #30
Looks good. Thanks

[2018-12-07 01:56] auscompgeek opened #31 "Lightning talk: What's new in Rust 2018"
Our next meetup happens to coincide somewhat well with the release of Rust 1.31 and the 2018 edition.

I would like to give a brief overview of what's new in Rust 2018. I'll try to keep it to about 10 minutes.

[2018-12-08 03:59] bitshifter commented on #31
I like the idea of covering 2018, I'll talk to the others and see what they think about adding another short talk.

[2018-12-08 04:08] bitshifter commented on #31
The other organisers agreed, we'll add you to the line up :)

[2018-12-10 22:20] bitshifter commented on #31
@auscompgeek before I update the announcement can you confirm you are good to do this talk, thanks!

[2018-12-11 12:00] auscompgeek commented on #31
Yup, I'll be there :+1:

See you on Monday!

[2019-01-15 22:54] #31 closed, assigned to nobody

[2019-01-15 22:54] #30 closed, assigned to nobody

[2019-01-15 22:56] bitshifter commented on #28
Hi @thomaseizinger , would you be available to give this talk on Wednesday the 13th of March?

[2019-01-15 23:52] thomaseizinger commented on #28
Yep, should be good! :)

[2019-01-16 03:29] bitshifter commented on #28
Great!

[2019-02-08 09:37] bitshifter commented on #28
Hey Thomas, I'm just putting together the Meetup announcement. Our other speaker provided a bio so I copied a bit of a bio from your site website and used the description you gave above for the talk summary, it reads:

Let me know if you're happy to use that or alternatively if you'd like to provide something else or just leave it out entirely.

[2019-02-08 11:17] thomaseizinger commented on #28
Small copy/pasta error in the first sentence: `where he works on the COMIT
protocol`.

The rest sounds good!
Looking forward to talk about it :)

On Fri, 8 Feb 2019, 20:37 Cameron Hart <notifications@github.com wrote:

[2019-05-27 03:39] #28 closed, assigned to nobody

[2019-05-28 02:52] clintonmead opened #32 "Talk proposal: Emulating higher kinded types"
Hi All

I'm relatively new to Rust. I came to the March meetup however the first time I actually sat down and started writing some code in it was this weekend, and I just saw your email about talks.

I have played with Haskell quite a bit and I have a full time role in C#. A summary of me and my projects can be found at [clintonmead.github.io](https://clintonmead.github.io/).

I gave a talk at FP-

[2019-05-28 03:33] Ben-PH opened #33 "Lightning talk proposal: My experience making a graphics thing."
Hi, I'm relatively inexperienced with Rust, but would like to offer to do a quick talk/discussion of my first thing I made.

[See my repo here](https://github.com/Ben-PH/shader_brot/)

I would like to go through my story. My aim would be

- To bring attention to the graphics library I used (`ggez`)
- Compare with similar project that got my attention, and why I chose to take a different path
- Und

[2019-05-28 05:24] clintonmead commented on #32
On some further investigation it seems like I'm not the first to think of this style of transformation. [coyoneda](https://docs.rs/coyoneda/0.5.2/coyoneda/) has a similar basic idea, although my approach doesn't require a separate representation (so should have a zero or low runtime cost for the abstraction), also doesn't need explicit wrapping/unwrapping, and extends to Applicatives and Monads.

[2019-05-28 11:05] bitshifter commented on #32
Sounds interesting Clinton, what kind of time are you thinking? You might need to introduce the FP concepts you want to talk about as I don't think everyone at the meetup will have FP background (it's a real mix).

[2019-05-28 11:08] bitshifter commented on #33
Sounds good Ben, I'll get back to you about what date we're thinking of.

[2019-05-28 14:37] t-botz opened #34 "Lightning Talk: Introducing Rust in a large company"
Hey,
I could do a talk about my experience introducing Rust in a large company, both on the technical side and the human side of it.

Length: ~20min

[2019-05-28 23:13] bitshifter commented on #34
sounds interesting! I will get back to you with a date

[2019-05-28 23:14] bitshifter commented on #32
I'll get back to you with a date soon

[2019-05-29 02:03] clintonmead commented on #32
Hrmmm, good point about the FP intro. Perhaps I'll put together a 5-10 minute example of Monad usage (perhaps with a SafeNum<T> style class that catches overflow/divide by zero unless you can think of a better example) to start off with so at least people can see some practical use of it.

How long it takes depends on how much people want to explore/ask questions, but it's better if people do, but

[2019-05-30 23:50] paulhauner opened #35 "Talk Proposal: Lighthouse Ethereum 2.0 Client"
Hi,
  Thanks for organizing these meetups, they're a great initiative. I missed the last on unfortunately but was at the previous.

I am part of a Sydney-based team that is building an open-source Ethereum 2.0 client in Rust. Ethereum 2.0 replaces proof-of-work with proof-of-stake (much less energy usage) and provides a parallel execution environment.

I don't necessarily want to talk about Etheru

[2019-06-02 10:29] bitshifter commented on #35
Hi Paul, I think we might have enough speakers now for the next meetup, we've had a few people come forward already. I will let you know for sure soon. We are always in need of speakers at future meetups though.

[2019-06-03 00:52] paulhauner commented on #35
Copy that, thanks @bitshifter.

[2019-06-05 11:26] bitshifter commented on #32
Hi @clintonmead, would Monday the 17th of June work for you?

[2019-06-05 11:26] bitshifter commented on #33
Hi @Ben-PH would Monday the 17th of June work for you?

[2019-06-05 11:27] bitshifter commented on #34
Hi @thibaultdelor would Monday the 17th of June work for you?

[2019-06-05 11:35] t-botz commented on #34
Works for me!

On Wed, Jun 5, 2019, 9:27 PM Cameron Hart <notifications@github.com> wrote:

[2019-06-06 00:36] clintonmead commented on #32
@bitshifter if I'm the second talk that should be fine (I've got a weekly work meeting with our UK team 5:30-6pm), so should be there by 6:30 but might be more like 7 if it runs overtime

[2019-06-07 03:03] bitshifter commented on #33
Actually we're going to push this back to the 24th of June so there's a bit more time, does that work for you?

[2019-06-07 03:03] bitshifter commented on #34
Actually we're going to push this back to the 24th of June so there's a bit more time, does that still work for you?

[2019-06-07 03:04] bitshifter commented on #32
Actually we're going to push this back to the 24th of June so there's a bit more time, does that still work for you?

[2019-06-07 03:06] clintonmead commented on #32
Perfect the extra week will give me a bit of extra time to put it together.

Same thing applies with the Monday meeting though so just put me last and it'll be fine.

[2019-06-07 03:44] Ben-PH commented on #33
24th is fine, going by the assumption it's an evening event.

On Fri., 7 Jun. 2019, 13:03 Cameron Hart, <notifications@github.com> wrote:

[2019-06-07 03:55] bitshifter commented on #33
Yep, it's will be between 6pm and 9pm at Atlassian's offices near Wynyard.

On Fri, 7 Jun 2019 at 13:44, Ben <notifications@github.com> wrote:

[2019-06-07 06:55] t-botz commented on #34
No worries, still ok for me

[2019-06-10 10:46] bitshifter commented on #32
Hi Clinton, would you like to provide a brief summary of your talk and bio. It's not at all mandatory, just something I did last time that I think was useful for attendees. E.g. from last meetup https://www.meetup.com/Rust-Sydney/events/258785543/, could be a lot briefer than that and totally fine if you'd rather not. The new meetup description is here https://www.meetup.com/Rust-Sydney/events/262

[2019-06-10 10:46] bitshifter commented on #33
Hi Ben, would you like to provide a brief summary of your talk and bio? It's not at all mandatory, just something I did last time that I think was useful for attendees. E.g. from the last meetup https://www.meetup.com/Rust-Sydney/events/258785543/, could be a lot briefer than that and totally fine if you'd rather not. The new meetup description is here https://www.meetup.com/Rust-Sydney/events/262

[2019-06-10 10:47] bitshifter commented on #34
Hi @thibaultdelor , would you like to provide a brief summary of your talk and a bio. It's not at all mandatory, just something I did last time that I think was useful for attendees. E.g. from last meetup https://www.meetup.com/Rust-Sydney/events/258785543/, could be a lot briefer than that and totally fine if you'd rather not. The new meetup description is here https://www.meetup.com/Rust-Sydney/

[2019-06-11 01:14] clintonmead commented on #32
Will do. Is it okay if I put it together over the weekend? At that point I'll have a more complete idea of what I want to cover.

[2019-06-11 01:39] bitshifter commented on #32
Yep, no problem

[2019-06-11 08:04] Ben-PH commented on #33
bio. Student at UNSW, with an interest leaning more towards systems.

For the talk, I just want to quickly go over how I learn't a few things
about Rust, graphics programming, etc.

   - First step: find a crate to make an image on the screen with per pixel
   control
   - Second step was to make it interactive.
   - Once I saw that was working, saw that it was extremely slow.
   - Came to the con

[2019-06-24 12:14] bitshifter commented on #33
Thanks for giving a talk Ben, feel free to post links to your github and slides on the event page for anyone who is interested https://www.meetup.com/Rust-Sydney/events/262194894/

[2019-06-24 12:14] #33 closed, assigned to nobody

[2019-06-24 12:15] bitshifter commented on #34
Thanks for the talk!

[2019-06-24 12:15] #34 closed, assigned to nobody

[2019-06-24 12:16] bitshifter commented on #32
Thanks for the talk Clinton, feel free to post links to your code and/or slides on the event page for anyone who is interested https://www.meetup.com/Rust-Sydney/events/262194894/

[2019-06-24 12:16] #32 closed, assigned to nobody

[2019-07-08 22:49] tcharding opened #36 "Beginning Rust - fast track your learning"
I recently got a job writing Rust.  I did not know Rust at the time.  This was a good opportunity to try out a language learning method I had floating around my head for some time.  In this presentation I will present the method I have used / am using to fast track my Rust learning.

The method is quite simple.  Pick a selection of algorithms (and code snippets) of increasing complexity that cover

[2019-07-08 22:50] tcharding commented on #36
Seems I cannot add the 'presentation' label.

[2019-07-09 00:10] bitshifter commented on #36
Sounds like a good topic, I'll get in touch when we're planning our next meetup. It probably won't be for a few months.

[2019-07-09 13:40] LLFourn opened #37 "How to roll your own crypto in rust"
But if you do, it's important to know which crates are out there to help you down your path of irresponsibility. This talk will be about using and implementing crypto crates in rust.

- Why would you roll your own crypto and how rust is making this terrible practice more accessible.
- What is the state of crypto in rust? How [const generics](https://github.com/rust-lang/rust/issues/44580) will hel

[2019-07-10 12:22] bitshifter commented on #37
Awesome, we'll get in touch when we're planning the next meetup. Probably not for a few months.

[2019-07-10 23:21] tcharding commented on #36
Cool, thanks.

[2019-07-31 09:56] tcharding commented on #36
Just wrote a blog post about this.  Linking here so people can see better what this proposed talk will be about.

http://tobin.cc/blog/learning-rust/

[2019-10-03 14:42] zhengyi-yang opened #38 "When Rust meets the next generation graph database"
My colleagues and I from the University of New South Wales have been working on building the next generation of distributed graph database using Rust in the last two years. Currently, we have built a prototype system which are completely written in Rust. Thanks to Rust and the algorithm we have, our system can achieve a very high performance that significantly outperforms the-state-of-the-art up t

[2019-10-08 09:30] bitshifter commented on #35
Hi @paulhauner, we're planning a meetup on Tuesday the 29th of October. Would you still be interested in giving a talk at that time? We have a few talk proposals at the moment so I'm trying to find out who is still interested and available initially. Ninja edit: also what kind of duration were you thinking talk wise?

[2019-10-08 09:33] bitshifter commented on #36
Hi @tcharding , we're planning a meetup on Tuesday the 29th of October. Would you still be interested in giving a talk at that time? If so, what kind of duration were you thinking for your talk? We have a few talk proposals at the moment so I'm trying to find out who is still interested and available initially.

[2019-10-08 09:34] bitshifter commented on #37
Hi @LLFourn  , we're planning a meetup on Tuesday the 29th of October. Would you still be interested in giving a talk at that time? If so, what kind of duration were you thinking for your talk? We have a few talk proposals at the moment so I'm trying to find out who is still interested and available initially.

[2019-10-08 09:35] bitshifter commented on #38
Hi @zhengyi-yang , we're planning a meetup on Tuesday the 29th of October. Would you still be interested in giving a talk at that time? If so, what kind of duration were you thinking for your talk? We have a few talk proposals at the moment so I'm trying to find out who is still interested and available initially.

[2019-10-08 12:07] zhengyi-yang commented on #38
Hi @bitshifter, I'll be able to give the talk. The duration can be about 20 min

[2019-10-09 03:37] LLFourn commented on #37
Hi. Yep I would love to do this one on the 29th if there's space. I should also be available in December/January if this one is full but probably not Feb/March.

[2019-10-10 00:26] paulhauner commented on #35
Hey, thanks for reaching out. We're still interested and the 29th works for us :)

For duration, we could probably do anything from 20mins to an hour :)

[2019-10-14 01:19] bitshifter commented on #37
How long do you think you'd like your talk to be @LLFourn? Anything between 20 and 40 mins + time for questions should be good. I'm trying to work out of we can do 2 or 3 talks. Will include you either way.

[2019-10-14 03:08] LLFourn commented on #37
Oops sorry. Yeah I think just 25 mins for the presentation will be enough. Thanks.

[2019-10-14 04:16] bitshifter commented on #37
Cool, let me know the title and summary of your talk for the meetup invite when you are able. Feel free to include a bio about yourself if you like, totally optional though.

[2019-10-14 04:19] bitshifter commented on #35
Hi @paulhauner . Lets lock in that talk. Let me know what you want to aim for length wise. Anything from 20 mins to 40 mins excluding question time is good. I'm trying to decide if there's time for a 3rd speaker, no worries if there's not.

Also let me know the title and summary of your talk for the meetup invite when you are able. Feel free to include a bio about yourself if you like, that's tota

[2019-10-15 04:46] tcharding commented on #36
Hi @bitshifter, just saw this.  Yes I am still keen to present this topic if you have a slot.
Only needs as short slot, 10 or 20 minutes perhaps.  Thanks.

[2019-10-15 05:41] bitshifter commented on #36
Hi @tcharding , we've got a couple of speakers but I think we could fit you in if it's a short one. When you have time send me a talk title/summary and optionally a bio for the meetup description.

[2019-10-15 05:44] bitshifter commented on #38
Hi @zhengyi-yang we have enough speaker for the meetup on the 29th now, we had three people volunteer a while ago and they're all available that night. So we'll try get you in our next meetup, whenever that is.

[2019-10-15 06:50] zhengyi-yang commented on #38
@bitshifter No worries. That's totally ok. See you in the next meetup

[2019-10-16 05:37] tcharding commented on #36
Great, thanks @bitshifter, will do.

[2019-10-16 09:30] bitshifter commented on #36
Event is up https://www.meetup.com/Rust-Sydney/events/265708002/

[2019-10-16 09:31] bitshifter commented on #37
Event is up https://www.meetup.com/Rust-Sydney/events/265708002/

[2019-10-16 09:31] bitshifter commented on #35
Event is up https://www.meetup.com/Rust-Sydney/events/265708002/

[2019-10-16 23:13] LLFourn commented on #37
Thanks. I love the description! Looking forward to it.

[2019-10-18 23:50] paulhauner commented on #35
Apologies for the delay, I've been overseas and lagging on my Github notifications.

How's a 30 minute talk sound? Happy to adjust to suit the schedule :)

[2019-10-19 00:34] bitshifter commented on #35
No worries Paul, 30 mins is good.

[2019-10-22 20:18] tcharding commented on #36
Learning Rust via Simple Algorithms
===================================

Learning new languages is fun, no doubt.  Before the new language can become a
tool that is comfortably wielded, and after the initial excitement of the new
language has worn off, there is a time where repeatedly looking up how to do
things can become annoying.

In this quick presentation I will share a method I used recently

[2019-10-24 10:08] lunacookies opened #39 "Are talks recorded?"
I took a look on YouTube, but couldn't find a canonical location for past talks. Are they not recorded, or have I just not looked in the right places?

Thanks.

[2019-10-24 10:31] bitshifter commented on #39
They haven't usually been recorded unfortunately so you're not missing anything. It's down to the venue and I think the rooms we've been in haven't been set up for recording.

[2019-10-24 21:36] lunacookies commented on #39
Ah, thanks for the info.

[2019-10-24 21:36] #39 closed, assigned to nobody

[2019-10-30 00:43] bitshifter commented on #35
Thanks for the talk Paul! Let me know if you have slides I can link somewhere.

[2019-10-30 00:43] #35 closed, assigned to nobody

[2019-10-30 00:43] bitshifter commented on #36
Thanks for the talk Tobin!

[2019-10-30 00:43] #36 closed, assigned to nobody

[2019-10-30 00:44] bitshifter commented on #37
Thanks for the talk Lloyd! Let me know if your slides are available somewhere.

[2019-10-30 00:44] #37 closed, assigned to nobody

[2019-10-30 04:51] paulhauner commented on #35
Thank you @bitshifter!

Slides below :)

https://docs.google.com/presentation/d/1f99_rOgSc54AKUMjO3HWpdOXRkP_fEsp-pIqNlIyVy0/edit?usp=sharing

[2019-10-30 05:14] LLFourn commented on #37
slides with half baked code are here: https://github.com/LLFourn/rust-sydney-pwless. Thanks it was fun :)

[2019-11-07 10:15] anguslees opened #40 "async/await intro"
Timed to roughly coincide with the Rust 1.39 release: a Rust async/await intro talk.

- Background and alternatives (Futures 0.1, green threads, kernel threads)
- That `Pin` thing
- How to use it in practice
- Common workarounds for the missing bits

(I'm no expert in the area, but I have been reading and following the upstream developments, and writing async code against the beta.)

[2020-01-07 04:59] clintonmead opened #41 "[Proposal] "Haskell Bits": The Functor/Applicative/Monad hierarchy in Rust"
I gave a very preliminary talk on this back in [June](https://github.com/RustSydney/talks/issues/32), but at that point it was more of an idea than something concrete. I've now released a library ["haskell_bits"](https://github.com/clintonmead/haskell_bits) which surprisingly caused some controversy on [Reddit](https://www.reddit.com/r/rust/comments/ejubtb/announcing_haskell_bits_a_functorapplicat

[2020-01-07 05:01] clintonmead commented on #41
Sorry, I don't know how to apply the "Proposal" label to this.

[2020-01-07 09:14] clintonmead commented on #40
This is a talk I'd like to listen too. I don't really know a lot about this area and it would be great to get up to speed.

[2020-01-13 02:31] bitshifter commented on #41
Hi Clinton, we don't have our next meetup planned yet but I think we have enough speakers for that whenever it happens, so probably looking at our 2nd 2020 meetup I'd say. In any case I will let you know.

[2020-01-13 02:47] clintonmead commented on #41
@bitshifter Sounds good!

[2020-01-20 01:30] rukai commented on #34
Hi @thibaultdelor.
I remember this talk, it was really good!
Do you still happen to have slides available?

[2020-01-28 05:09] sphenlee opened #42 "*const vs *mut - what's the difference"
A talk explaining what variance is and how it applies to Rust, and why you would use *const vs *mut

[2020-01-28 05:21] bitshifter commented on #42
I think Steve has had this talk ready as a backup for the last 2 meetups. Might be time to finally give it :)

[2020-02-04 09:52] bitshifter commented on #38
Hi @zhengyi-yang would you be available to give this talk on Monday 24th of Feb? We have two talks lined up already but I think we could still fit you in.

[2020-02-04 11:27] zhengyi-yang commented on #38
Hi @bitshifter, that's no problem! How long should my talk be?

[2020-02-04 11:37] bitshifter commented on #38
Great! I would say no longer than 30 minutes would be fine.

[2020-02-04 12:12] zhengyi-yang commented on #38
Sure :) I think my talk will be about 20 minutes

[2020-02-26 07:58] #38 closed, assigned to nobody

[2022-02-21 14:48] kykyi opened #43 "ping"
Is there interest in getting this user group started again?

[2022-02-21 21:37] thomaseizinger commented on #43
I'd love a Rust meetup again! Also happy to help out organising if it needs although I cannot help with a venue if we want to do it in person.

[2022-06-10 05:07] pinkforest commented on #43
keen

[2022-06-10 05:09] pinkforest commented on #43
just need someone who is active and has the bits for the meetup group i guess?
I could organise the next one if there is nobody else

[2022-06-10 05:10] pinkforest commented on #43
@caspark @srijs @bitshifter @joshleeb ping :)

[2022-06-13 02:24] caspark commented on #43
Hello! I haven't lived in Sydney for the last 5 years, so I handed off admin privileges for the [Rust Sydney meetup group](https://www.meetup.com/Rust-Sydney/) and this github org a while ago. Might want to try pinging [the current leaders on meetup](https://www.meetup.com/rust-sydney/members/?op=leaders) to raise them there?

(I've pinged the one Atlassian in the meetup leadership group in Atlass

[2022-06-17 21:26] bitshifter commented on #43
I am also no longer in Sydney but still have access to the Meetup group. As Caspar suggested you are better off asking there. I don't know that our old hosts are doing in person meetups yet, I know my Sydney based office isn't. If you did want to organise hostng yourself, I could assist with the MeetUp app side, best to have that conversation via MeetUp, not all of the organisers are active in Git

[2022-06-18 08:53] thomaseizinger commented on #43
@pinkforest Are you a member of the meet-up group? I can't find you with your nick unfortunately. Give me a ping there. Let's set up a group chat there with the current hosts to discuss how we can set up a new event.

[2022-06-18 09:49] pinkforest commented on #43
@thomaseizinger I am now :unicorn:  MissMissM thats my medium @ handle - I used to run some events before and happy to organise

[2022-06-18 09:54] pinkforest commented on #43
@bitshifter is there a way to give bits so I can create an event after I've secured a space ?

[2022-06-18 10:07] pinkforest commented on #43
who is the current admin of the RustSydney org that could invite to the org so we can manage the talks repo?

[2022-06-18 10:40] pinkforest commented on #43
who is the current admin of the RustSydney Github org that could invite to the org so we can manage the talks repo?

or could create another repo by month or something and then archive the oldies and then grant repo access

I would like to have a similar process as this week in rust for call for papers perhaps

[2022-06-18 10:50] thomaseizinger commented on #43
That sounds like quite the overhead and makes things like subscribing hard.

To start with, we could stick to the [original process](https://github.com/RustSydney/talks#proposing-a-talk) and perhaps message TWIR to get a shout-out on Twitter and in the newsletter or something so people are aware that this meet-up group is coming back to life?

[2022-06-18 10:55] pinkforest commented on #43
Yes it is overhead but I was wondering if it helps getting bits as it's just one repo.

Another option is to create a new organisation as it seems to be the admin is not present.

I can do the TWIR part

I do not want long talks so I would be keen to limit talks to five - or max ten - minutes to make more varied talks possible and make sure people keep the talks compact and are focused on importan

[2022-06-18 11:18] bitshifter commented on #43
I think I'm an admin. The GitHub is not super important though, everything was organised through Meetup in the past.

If you have a time and location for a Meetup sorted I can post it for you and talk to the others about adding organisers to Meetup group.

For TWiR I think they scrape meetups from the [Rust community calendar](https://www.google.com/calendar/render?cid=YXBkOXZtYmMyMmVnZW5tdHU1bDZj

[2022-06-18 16:16] pinkforest commented on #43
We are organising via Github on 19 July 2022 6PM AEST that has virtual component to it:
https://github.com/RustAU/Virtual

I will be securing a venue so this is a hybrid kind and then I will gate Sydney RSVP here:
https://github.com/RustAU/Sydney

I am a bit against paying for MeetUp.com when we can just send pull requests for RSVP'ing esp when it's just bunch of coders attending who often have Gi

[2022-06-18 21:54] bitshifter commented on #43
Amazon are paying for Meetup. The Rust Sydney Meetup group has hundreds of members, IMO forking the meetup is counter productive.

[2022-06-19 11:21] pinkforest commented on #43
I agree and I would prefer that but problem is I don't have necessary access to manage participation and give updates.

My worry is that if I have a venue for 50 people signup via meetup;.com and 5 people show up then we end up wasting resources from venue PoV.

I would need a bit to manage participation to ensure we will not have no-shows and I thought GitHub would have allowed to do that via PRs

[2022-06-19 23:40] bitshifter commented on #43
The discord link didn't work for me, it says invite expired, it might be easier to discuss this over there.

The last few meetups before the pandemic had 50 to 60 people attend. It is hard to say what attendance would be like now. I would guess lower.

I'm not sure what you mean by actively manage participation?

Meetup maintains an RSVP list, people can RSVP via Meetup and the organiser can get a

[2022-06-20 07:01] pinkforest commented on #43
Try this - not sure what happened to the link:
https://discord.gg/pW35BNSBeV

[2022-06-21 09:57] anguslees commented on #43
I'm still trying to catch up.  If I'm reading correctly, we've discarded the existing organisation/proposal process, the existing github repo, and the existing meetup group - is that correct?   Feeling a bit steam-rolled, but I'm keen to help out where there's still room.

[2022-07-11 04:36] sjwaight commented on #43
Hey everyone. If you're looking for a venue the Sydney Microsoft Reactor (in the Sydney Startup Hub at Wynyard) is available for communities to use. July might be a stretch, but happy to see how we can help out. Feel free to drop me a line at firstname . lastname @ microsoft[dot]com and we can work something out.